* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- Link de Google fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@500&display=swap');

:root {
    /*-- Colores azul turquesa --*/
    --azul-primario: rgb(57, 194, 201);
    --azul-Secundario: rgb(5, 79, 79);
    --azul-brillante: rgb(175, 251, 255);

    /*-- Colores alternativos --*/
    --clr-dorado: rgb(198, 156, 109);
    --clr-rojo: rgb(163, 52, 52);
    --clr-claro: rgb(215, 215, 215);
    --clr-oscuro: rgb(46, 46, 46);
    
    /*-- Fonts --*/
    --ff-primario: 'Georgia', cursive;
    --ff-titles: 'Bebas Neue', sans-serif;
    --ff-Secundary: 'Playfair Display', serif; 
}

body {
    font-family: var(--ff-primary);
    background-color: #000000;
    background-image: url(imagenes/fondo-M-device.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/*-- Diseño de la barra de navegación para Large Devices --*/

nav {   /*-- Efecto y color en el backgroud de la barra de navegación --*/
    background: radial-gradient(circle, rgb(5, 79, 79, .4)30%, rgb(175, 251, 255, .4)98%);
    backdrop-filter: blur(10px);  

    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 100px; /*-- Logo en la barra de navegación --*/
}

nav a { /*-- Disposición y diseño de contenido del logo y nombre en la barra de navegacióm --*/
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    font-family: var(--ff-Secundary);
    font-size: 1.8em;
    color: var(--azul-primario);
}

.menu { /*-- Disposición del menu de la barra de navegación --*/
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.menu a {
    font-size: 1.5em;
    transition: transform 0.2s;
}

.menu a:hover {
    color: var(--azul-brillante);
    transform: scale(1.1);
}

/*-- Diseño y disposición del icon toggle para Responsive design --*/
.icon {
    display: none;
    color: var(--azul-primario);
    font-size: 1.7em;
}

.icon:hover {
    color: var(--clr-dorado);
}

/*-- Sección Intro de la página index --*/
.container-intro {  /*-- Fondo y disposición de la sección intro --*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
    gap: 2em;
    min-height: 30vw;
}

.intro-box {  /*-- Contenedor del texto de la sección intro --*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
}

.intro-box h1 {
    color: var(--azul-primario);
    text-align: center;
    font-family: var(--ff-Secundary);
    font-size: 2em;
}

.intro-box p {
    color: var(--clr-claro);
    font-family: var(--ff-primario);
    letter-spacing: 1.3px;
    font-size: 1.3em;
    line-height: 1.4;
}

.intro-box a {
    font-family: var(--ff-titles);
    font-size: 1.8em;
    letter-spacing: 2.5px;
    text-decoration: none;
    color: var(--clr-claro);
    background-color: var(--azul-Secundario);
    padding: 15px 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px var(--azul-brillante);
}

.intro-box a:hover {
    background-color: var(--azul-primario);
    color: var(--clr-oscuro);
}

/*-- Imagen en la sección intro de la página index --*/
.container-intro img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
}

/*-- Sección Actividades de la página Index --*/
.container-cards {  /*-- diseño del background Sección Actividades de la página Index --*/
    background-color: rgb(215, 215, 215, .3);
    backdrop-filter: blur(10px);
    padding: 30px 50px;
}

.container-cards h2 {
    text-align: center;
    padding-bottom: 30px;
    color: var(--azul-primario);
    font-family: var(--ff-Secundary);
    font-size: 2.3em;
}

.cards-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.cards-sv {
    background-color: var(--azul-Secundario);
    width: 30%;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
}

.cards-sv img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.cards-textbox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-textbox h3 {
    text-align: center;
    font-family: var(--ff-Secundary);
    font-size: 1.5em;
    color: var(--azul-primario);
    height: 60px;
}

.cards-textbox p {
    font-family: var(--ff-primario);
    font-size: 1.1em;
    padding-top: 10px;
    line-height: 1.3;
    color: var(--clr-claro);
    height: 100px;
}

.cards-textbox a {
    background-color: var(--azul-primario);
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--clr-oscuro);
    font-family: var(--ff-titles);
    font-size: 1.3em;
    letter-spacing: 1.5px;   
}

.cards-textbox a:hover {
    background-color: var(--azul-brillante);
}

/*-- Sección Beneficios | Página Index --*/
.container-bene {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

/*-- Slider --*/
#slider {
    width: 70%;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 1s;
}

.bene-textbox h2 { /*-- Texto de la sección de beneficos | página index --*/
    color: var(--azul-primario);
    text-align: center;
    font-family: var(--ff-Secundary);
    font-size: 1.5em;
    padding-bottom: 30px;
}

.bene-textbox ul {
    list-style-type: none;
    width: 85%;
    padding-left: 100px;
}

.bene-textbox li {
    font-family: var(--ff-primario);
    color: var(--clr-claro);
    padding: 5px 0px;
    font-size: 1.1em;
    letter-spacing: 1.3px;
    line-height: 1.3;
}

/*-- Sección Paquetes Large Devices | Página Index --*/
.container-pkts { /*-- Fondo y disposición de la sección paquetes --*/
    background-color: rgb(215, 215, 215, .3);
    backdrop-filter: blur(10px);
    padding: 2em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

/*-- Contenedor de las tres cards de la sección paquetes --*/
.pkts-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 30%;
}

.pkts-cards { /*-- Diseño y disposición de las cards de la sección paquetes --*/
    background-color: rgba(143, 216, 204, 0.5);
    padding: 15px;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
}

/* -- Texto del centro de la sección Paquetes | págin Index --*/
.pkts-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
}
.pkts-textbox h2 {
    font-family: var(--ff-Secundary);
    font-size: 2em;
    color: var(--azul-brillante);
    text-align: center;
}

.pkts-textbox p {
    font-family: var(--ff-primario);
    font-size: 1.3em;
    color: var(--clr-claro);
    line-height: 1.4;
    letter-spacing: 1.2px;
}

.pkts-textbox a {
    background-color: var(--azul-primario);
    padding: 12px 50px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--clr-oscuro);
    font-family: var(--ff-titles);
    letter-spacing: 1.5px;
    font-size: 1.5em;
    margin-top: 20px;
}

.pkts-textbox a:hover {
    background-color: var(--azul-brillante);
}

.pkts-cards h3 { /*-- Titulos de las cards de los paquetes --*/
    font-family: var(--ff-Secundary);
    font-size: 1.3em;
    color: var(--clr-oscuro);
    text-align: center;
    margin-bottom: 10px;
    height: 50px;
}

.pkts-cards img {
    width: 100%;
    height: 160px;
    border-radius: 15px;
    margin-bottom: 15px;
    object-fit: cover;
}

.pkts-cards p { /*-- Texto al pie de las Cards --*/
    font-family: var(--ff-primario);
    font-size: 1.1em;
    line-height: 1.3;
    letter-spacing: 1.2px;
    height: 110px;
    color: var(--clr-oscuro);
}

/*-- Footer Large Devices --*/
footer { /*-- Fondo de la sección footer --*/
    background-color: rgba(36, 36, 36, 0.5);
    backdrop-filter: blur(10px); 
    padding: 40px 40px 10px;
}

.container-footer { /*-- Disposición de los contenedores del footer --*/
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

.footer-box { /*-- Disposición de los contenedores --*/
    width: 30%;
}

.footer-box h4 { /*-- Titulos de los contenedores --*/
    font-family: var(--ff-Secundary);
    font-size: 1.3em;
    color: var(--azul-brillante);
    text-align: center;
}

.footer-box ul {
    list-style-type: none;
    margin-top: 20px;
}

.footer-box li,a {
    color: var(--clr-claro);
    font-family: var(--ff-primario);
    font-size: 1.1em;
    line-height: 1.7;
    letter-spacing: 1.2px;
    text-decoration: none;
}

.box-media { /*-- Diseño y disposición del Contenedor de logo e iconos del footer --*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.box-media img { /*-- Logo footer --*/
    width: 150px;
}

.footer-media { /*-- Diseño disposición de los iconos --*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 2em;
}

.footer-media a {
    color: var(--azul-primario);
}

.footer-media a:hover {
    color: var(--azul-brillante);
}

/*-- Contenedor Copyrigth --*/
.copy {
    text-align: center;
    color: var(--clr-claro);
    margin-top: 30px;
    font-family: var(--ff-primario);
    font-size: 14px;
}

.copy a {
    font-family: var(--ff-primario);
    font-size: 14px;
}

.copy a:hover {
    color: var(--azul-primario);
}

/*-- Sección Datos Large Devices | Rafting Morelos page --*/
.container-datos {
    padding: 3em;
}

.container-datos img {  /*-- Imagen de la sección --*/
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
} 

.datos-textbox {  /*-- Contenedor del textbox de la sección --*/
    margin-top: 50px;
}

.datos-textbox h2 {  /*-- Titulo de la sección --*/
    text-align: center;
    font-family: var(--ff-Secundary);
    font-size: 2em;
    color: var(--azul-primario);
    margin-bottom: 1.5em;
}

/*-- Contenedor y cards --*/
.datos-box { /*-- Contenedores --*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}

.datos-cards { /*-- Disposición y diseño de las cards de Datos --*/
    background-color: rgba(61, 74, 74, 0.58);
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
    padding: 15px;
    width: 100%;
    height: 450px;
}

.datos-cards h3 {
    font-family: var(--ff-Secundary);
    font-size: 1.5em;
    color: var(--azul-primario);
    margin-bottom: 15px;
}

.datos-cards p {
    font-family: var(--ff-primario);
    font-size: 1.1em;
    letter-spacing: 1.1px;
    line-height: 1.3;
    color: var(--clr-claro);
}

/*-- Sección Form Contacto Large Devices | página contacto --*/
.container-contacto { /*-- Disposición de la sección --*/
    background-color: rgb(215, 215, 215, .3);
    padding: 3em;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2em;
}

.map-contact h2 {
    font-family: var(--ff-Secundary);
    font-size: 2em;
    color: var(--azul-primario);
}

/*-- Diseño contenedor del mapa del Punto de Encuentro --*/
    .map-contact {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .map-contact iframe {
        height: 570px;
        border-radius: 15px;
        border: 2px solid var(--azul-brillante);
        box-shadow: 0px 0px 8px var(--azul-brillante);
    }
/*-- Diseño de formulario contacto --*/
.form-map {
    width: 100%;
}

form {
    padding-left: 70px;
}

.form-map label {
    font-family: var(--ff-primario);
    font-size: 1.2em;
    color: var(--azul-brillante);
}

.form-map input, select {
    padding: 5px;
    margin: 10px 0px;
    width: 80%;
    border-radius: 7px;
    border: 2px solid var(--azul-primario);
}

.form-name select, textarea {
    width: 80%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

textarea {
    height: 100px;
}
  
/* Style the submit button with a specific background color etc */
.btn-form {
    background-color: var(--azul-primario);

    color: var(--clr-oscuro);
    font-size: 1.1em;
    font-family: var(--ff-p
    );

    border: none;
    cursor: pointer;
}

.btn-form:hover {
    background-color: var(--azul-brillante);
}

/*-- Sección Intro de las páginas de Actividades Large Devices --*/
.actividades-intro {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

.actividades-intro img { /*-- Imagen de la sección intro de las páginas de actividades --*/
    width: 60%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
}

.act-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    gap: 1em;
}

.act-textbox h1 {
    font-family: var(--ff-Secundary);
    font-size: 2.3em;
    color: var(--azul-primario);
}

.act-textbox p {
    font-family: var(--ff-primario);
    font-size: 1.2em;
    color: var(--clr-claro);
}

/*-- Sección Descripción de las páginas de actividades Large Devices --*/
.container-desc { /*-- DIseño y disposición de la sección --*/
    padding: 3em;
    display: flex;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
}

/*-- Diseño de los contenedores --*/
.desc-box {
    width: 100%;
    background-color: rgb(215, 215, 215, .3);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.desc-box h2 {
    font-family: var(--ff-Secundary);
    font-size: 1.7em;
    color: var(--azul-brillante);
}

.desc-box p {
    font-family: var(--ff-primario);
    font-size: 1.1em;
    color: var(--clr-claro);
    letter-spacing: 1.2px;
    line-height: 1.3;
}

.desc-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

/*-- Diseño y disposición de las cards de la sección descripción de la página Rafting Amacuzac --*/
.desc-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.box-top {
    width: 100%;
}

.box-top h3 {
    text-align: center;
    font-family: var(--ff-Secundary);
    font-size: 2em;
    color: var(--azul-brillante);
    margin-bottom: 30px;
}

.box-top img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
}

/*-- Cards sección descripción de las páginas actividades --*/
.boxes-bottom {
    display: flex;
    justify-content: space-between;
    
    gap: 1em;
}

.desc-cards {
    width: 100%;
    background-color: rgba(19, 27, 27, 0.589);
    padding: 15px;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
    max-height: 800px;
}

.desc-cards h4 {
    font-family: var(--ff-Secundary);
    font-size: 1.3em;
    color: var(--azul-primario);
    margin-bottom: 15px;
}

.desc-cards p {
    font-family: var(--ff-primario);
    font-size: 1.1em;
    letter-spacing: 1.1px;
    line-height: 1.2;
    color: var(--clr-claro);
}

/*-- Sección Recomendaciones Large Devices | Paginas de actividades --*/
.container-reco { /*-- Contenedro del textbox de la sección --*/
    display: flex;
    justify-content: space-around;
    gap: 2em;
    padding: 3em;
}

.box-reco {
    color: var(--clr-claro);
    width: 100%;
}

.box-reco h3 {
    font-family: var(--ff-Secundary);
    font-size: 1.8em;
    margin-bottom: 10px;
}

.box-reco p {
    font-family: var(--ff-primario);
    font-size: 1.2em;
    line-height: 1.3;
    letter-spacing: 1.1px;
}

.container-reco img {
    width: 75%;
    
    object-fit: cover;
    object-position: center bottom;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
}

/*-- Sección Precios de las páginas de actividades | Large Devices --*/
.container-precios { /*-- Contenedor de la sección --*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: rgb(175, 251, 255, .4);
    padding: 3em;
}

.container-precios h2 {
    font-family: var(--ff-Secundary);
    font-size: 2.1em;
    color: var(--azul-brillante);
}

.precio-box { /* Contenedor de los contenedores de las cards de precios --*/
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.precio-cards { /*-- Disposición y diseño de las cards de precios --*/
    background-color: rgb(175, 251, 255, .4);
    padding: 15px;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
    text-align: center;
    width: 30%;
}

.precio-cards h3 {
    font-family: var(--ff-Secundary);
    font-size: 1.4em;
    color: var(--clr-oscuro);
    padding-bottom: 1em;
}

.precio-cards p {
    font-family: var(--ff-primario);
    font-size: 1.2em;
    color: var(--clr-oscuro);
    padding-bottom: 1em;
}

.precio { /*-- Diseño del precio en la card de precios --*/
    font-size: 1.5em;
    font-weight: bold;
    color: var(--azul-brillante);
}

.container-precios a {
    font-family: var(--ff-titles);
    font-size: 1.8em;
    background-color: var(--azul-Secundario);
    padding: 15px 70px;
    border-radius: 15px;
}

.container-precios a:hover {
    background-color: var(--azul-brillante);
    color: var(--clr-oscuro);
}

/*-- Sección Suscribir de la página Club de Río | Cursos --*/
.container-sus {  /*-- Disposición y diseño de la sección --*/
    background-color: rgb(175, 251, 255, .4);
    padding: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    min-height: 200px;
}

.suscribe { /*-- Diseño y disposición del contenedor del texto --*/
    width: 40%;
    text-align: center;
}

.suscribe h3 {
    font-family: var(--ff-Secundary);
    font-size: 1.4em;
    color: var(--azul-brillante);
    margin-bottom: 12px;
}

.suscribe hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1.4px solid var(--azul-brillante);
    border-radius: 10px;
    margin-bottom: 10px;
}

.suscribe p {
    font-family: var(--ff-primario);
    color: var(--clr-claro);
    font-size: 1.2em;
}

/*-- Casilla de ingreso del email en la sección --*/
.container-sus form {
    width: 40%;
    text-align: center;
}

.cb-em {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
    margin-bottom: 20px;
}

.bt-cb {
    background-color: var(--azul-primario);
    padding: 12px 50px;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
    font-family: var(--ff-titles);
    font-size: 1.3em;
    letter-spacing: 2px;
}

.bt-cb:hover {
    background-color: var(--azul-brillante);
}

/*-- Sección Valores de la página Nosotros | Large Devices --*/
.container-sms {
    padding: 3em;
    background-color: rgb(175, 251, 255, .4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}

.box-sms {
    display: flex;
    justify-content: space-between;
}

.textbox-sms {
    width: 45%;
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
    padding: 15px;
}

.textbox-sms p {
    font-family: var(--ff-primario);
    line-height: 1.3;
    font-size: 1.1em;
    color: var(--clr-claro);
    height: 150px;
}

.textbox-sms h3 {
    font-family: var(--ff-Secundary);
    font-size: 1.5em;
    color: var(--azul-primario);
    margin-bottom: 10px;
    text-align: center;
}

.textbox-sms img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.textbox-smv {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
    padding: 15px; 
}

.textbox-smv h3 {
    font-family: var(--ff-Secundary);
    font-size: 1.5em;
    color: var(--azul-primario);
    text-align: center;
    margin-bottom: 15px;
}

.textbox-smv ul {
    list-style-type: none;
}

.textbox-smv li {
    font-family: var(--ff-primario);
    font-size: 1.1em;
    line-height: 1.4;
    letter-spacing: 1.2px;
    color: var(--clr-claro);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.box-smv img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/*-- Sección termino y condiciones de la página Terminos&Condiciones | Large Devices --*/
.container-tc {
    padding: 2em 8em;
    background-color: rgba(86, 86, 86, 0.3);
}

.container-tc h3 {
    font-family: var(--ff-Secundary);
    font-size: 1.5em;
    color: var(--azul-primario);
    margin-bottom: 15px;
}

.container-tc h4 {
    font-family: var(--ff-Secundary);
    font-size: 1.3em;
    color: var(--clr-claro);
    margin-bottom: 10px;
}

.container-tc p {
    font-family: var(--ff-primario);
    font-size: 1.1em;
    color: var(--clr-claro);
    line-height: 1.3;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}

.container-tc div {
    margin-bottom: 2em;
}

/*-- Página de suscribir --*/
.suscribir-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
}

.suscribir-box {
    background-color: rgb(215, 215, 215, .3);
    padding: 2em;
    border-radius: 15px;
    border: 2px solid var(--azul-brillante);
    box-shadow: 0px 0px 8px var(--azul-brillante);
}

.suscribir-box h2 {
    font-family: var(--ff-Secundary);
    font-size: 2em;
    color: var(--azul-primario);
    padding: 20px;
    text-align: center;
}

.suscribir-box p {
    font-family: var(--ff-primario);
    font-size: 1.5em;
    color: var(--clr-claro);
    text-align: center;
    padding: 10px;
}

/*-- MEDIA QUERIES --*/
  
@media screen and (max-width: 992px) {  /*-- Medium devices --*/
    /*-- Barra de Navegación para medium devices --*/
    .menu {
        display: none;
    }

    .icon {
        display: block;
        cursor: pointer;
    }

    .menu.active {  /*-- disposición del menu desplegable cuando se hace click en el icono toggle --*/
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgb(5, 79, 79, .3);
        backdrop-filter: blur(10px);
        z-index: 1;
        padding: 20px;
    }

    /*-- Sección Intro Medium Devices | todas las páginas --*/
    .container-intro {
        height: auto;
    }

    /*-- Sección Actividades | página Index --*/
    .cards-box {
        flex-direction: column;
    }

    .cards-sv {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    .cards-sv img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    .cards-textbox {
        width: 100%;
    }

    /*-- Sección Beneficios | página Index--*/
    .bene-textbox {
        width: 60%;
    }

    .bene-textbox ul {
        width: 100%;
        padding-left: 0;
    }

    /*-- Sección Paquetes Medium Devices | página index --*/
    .container-pkts {
        justify-content: space-between;
        padding: 45px 15px;
    }
        /*-- Texto central de la sección --*/
    .pkts-textbox h2 {
        font-size: 1.7em;
    }

    .pkts-textbox p {
        font-size: 1.2em;
    }

    /*-- Contenedores laterales de la sección paquetes --*/
    .pkts-cards h3 {
        font-size: 1.2em;
        height: 60px;
    }

    .pkts-cards p {
        font-size: 1.1em;
        height: 170px;
    }

    /*-- Footer Medium Devices --*/
    .footer-box h4 { /*-- Titulos de los contenedores --*/
        font-size: 1.2em;
    }

    .footer-box li,a {  /*-- Texto de los contenedores --*/
        font-size: 1em;
    }

    .box-media img { /*-- Logo footer Medium devices --*/
        width: 110px;
    }

    .datos-box {
        flex-direction: column;
    }

    .datos-cards {
        height: 400px;
    }

    /*-- Sección Formulario contacto large devices | página Contacto --*/
    form {
        padding: 0;
    }

    .form-map input, select {
        width: 100%;
    }

    .form-name select, textarea {
        width: 100%;
        padding: 2em;
    }

    /*-- Sección intro de las páginas de actividades Large Devices --*/
    .actividades-intro img {
        width: 80%;
        height: 180px;
    }

    .act-textbox {
        width: 100%;
    }

    /*-- Sección Descripción de las páginas de Actividades | Medium Devices --*/
    .boxes-bottom {
        flex-direction: column;
    }

    /*-- Sección precios de las páginas de actividades | Large Devices --*/
    .container-precios {
        padding: 2em;
    }

    .precio-cards {
        width: 31%;
    }

    .precio-cards h3 {
        height: 70px;
    }
    .precio-cards p {
        font-size: 1.2em;
        height: 60px;
    }

    /*-- Textbox de la página Terminos&Condiciones | Medium Devices --*/
    .textbox-sms {
        width: 47%;
    }

    .textbox-sms p {
        height: 200px;
    }

    .textbox-smv li {
        width: 100%;
    }

  }

/*-- Media Queries para dispositivos S/M --*/
@media screen and (max-width: 768px) {
    /*-- Disposición para la sección intro de la página index para S/M devices --*/ 
    .container-intro {
        flex-direction: column;
    }

    .container-intro img {
        width: 100%;
    }

    /*-- Sección Actividades S/M devices | página Index --*/
    .cards-sv img {
        width: 100%;
    }

    .cards-textbox a {
        font-size: 1.2em;
    }
    
    /*-- Sección Beneficios | página Index --*/
    #slider {
        width: 50%
    }

    .bene-textbox {
        width: 50%;
    }

    .bene-textbox h2 {
        font-size: 1.2em;
    }

    .bene-textbox li {
        font-size: 1em;
    }

    /*-- Sección Paquetes S/M Devices | Página Index --*/
    .container-pkts {
        flex-direction: column;
    }

    .pkts-box {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        gap: 2em;
    }

    .pkts-textbox {
        width: 80%;
        padding: 30px 0px;
        gap: 2em;
    }

    .pkts-cards {
        width: 100%;
    }

    .pkts-cards h3 {
        height: 40px;
    }

    .pkts-cards p {
        height: 130px;
    }

    /*-- Footer S/M Devices --*/
    .footer-box li,a {
        font-size: .95em;
    }

    .box-media img {
        width: 95px;
    }


    .footer-media {
        font-size: 1.9em;
    }

    /*-- Sección Formulario contacto S/M Devices | página Contacto --*/
    .container-contacto {
        flex-direction: column;
    }

    .map-contact iframe {
        height: 300px;
    }

    /*-- Sección Descripción de las páginas Actividades | Small Devices --*/
    .container-desc {
        flex-direction: column;
        padding: 1em;
    }

    /*-- Sección Recomendaciones de las páginas Actividades | XS/S Devices --*/
    .container-reco {  /*-- Disposición del contenedor --*/
        flex-direction: column;
        padding: 1em;
    }

    .container-reco img {
        width: 100%;
        height: 200px;
    }

    /*-- Sección precios de las páginas de actividades | Small Devices --*/
    .container-precios {
        padding: 1em;
    }

    .precio-cards h3 {
        font-size: 1.2em;
        height: 60px;
    }

    .precio-cards p {
        height: 60px;
    }

    /*-- Sección suscribirse de la página Club de Río | Cursos Small Devices --*/
    .container-sus {
        display: flex;
        flex-direction: column;
    }

    .suscribe {
        width: 100%;
    }

    .container-sus form {
        width: 100%;
    }

    .cb-em {
        width: 80%;
        
    }
}

@media screen and (max-width: 600px) {  /*-- Small devcies --*/
    /*-- Barra de navegación para small devices --*/
    nav img {
        width: 60px;
    }
    nav a {
        font-size: 1.6em;
        color: rgb(185, 250, 255);
    }

    .menu a {
        font-size: 1.4em;
    }

    /*-- Sección intro para XS/S devices --*/
    .container-intro {
        padding: 2em 1.5em;
    }

    .intro-box h1 {
        font-size: 1.7em;
    }

    .intro-box p {
        font-size: 1.2em;
    }

    .intro-box a {
        font-size: 1.4em;
        padding: 10px 50px;
    }

    .container-intro img {
        height: 200px;
    }

    /*-- Sección Actividades S/M devices | página Index --*/
    .container-cards {
        padding: 15px;
    }   .cards-sv {
        flex-direction: column;
    }

    /*-- Sección Beneficios | página Index --*/

    .container-bene {
        flex-direction: column;
        padding: 15px;
    }

    #slider {
        width: 100%;
        height: 200px;
    }

    .bene-textbox {
        width: 100%;
    }

    /*-- Sección paquetes XS/S Devices | página Index --*/
    .pkts-box {
        flex-direction: column;
    }

    /*-- Footer XS/S Devices --*/
    .container-footer {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer-box {
        width: 100%;
    }

    .footer-box li,a {
        font-size: 1em;
    }

    .box-media img {
        width: 120px;
    }

    .footer-media {
        font-size: 2em;
    }

    /*-- Sección Datos XS/S Devices | Rafting Morelos page --*/
    .container-datos {
        padding: 1em;
    }
    .datos-cards {
        height: 520px;        
    }

    .datos-cards p {
        font-size: 1em;
    }

    /*-- Sección Formulario Contacto XS/S Devices | página Contacto --*/
    .container-contacto {
        padding: 1em;
    }

    .map-contact h2 {
        font-size: 1.5em;
        text-align: center;
    }
    
    .map-contact iframe {
        height: 250px;
    }

    /*-- Sección intro de las páginas de actividades XS/S Devices --*/
    .actividades-intro {
        padding: 1em;
    }

    .actividades-intro img {
        width: 100%;
        height: 150px;
    }

    .act-textbox h1 {
        font-size: 1.8em;
    }

    .act-textbox p {
        font-size: 1em;
    }

    /*-- Sección precios de las páginas Actividades | SX/S Devices --*/
    .precio-box {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .precio-cards {
        width: 80%;
    }

    .precio-cards h3, p {
        height: auto;
    }

    .container-precios a {
        padding: 10px 70px;
    }

    /*-- Textbox de la página Terminos y Condiciones | S/XS Devices --*/
    .container-tc {
        padding: 1em;
    }

    /*-- Textbox del textbox de la página Quienes Somos | S/XS Devices --*/
    .container-sms {
        padding: 50px 10px;
    }

    .box-sms {
        flex-direction: column;
        gap: 2em;
    }

    .textbox-sms {
        width: 100%;
    }

    /*-- Página suscribir --*/
    .suscribir-bg {
        padding: 20px;
        height: 400px;
    }
    .suscribir-box {
        padding: 10px;
    }

    .suscribir-box h2 {
        font-size: 1.3em;
    }

    .suscribir-box p {
        font-size: 1em;
    }
}